<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RestSharp" version="104.0" targetFramework="net35" requireReinstallation="true" />
  <package id="Selenium.Firefox.WebDriver" version="0.22.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
</packages>